LEAGUE_ID=
BOT_TEAM_ID=
SEASON=2026

# Personal Identification
ESPN_S2=
SWID={xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx}

# LangSmith Tracing Vars
LANGSMITH_TRACING=true
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

# LLM Keys
ANTHROPIC_API_KEY=
GROK_API_KEY=

# Value may change with new ESPN platform deployments ?
PLATFORM_VERSION = 

# League/Opponent Chat Identifiers
TOPIC_ID=
OPPONENT_CHAT_ID=

BOT_NAME = "Robot"